/* made by danielstern.ca/range.css and tweaked by me*/

.customRange {
    -webkit-appearance: none;
    width: 260px;
    margin: 7px 0;
    --customBG: #afdcff;
}

.customRange:focus {
    outline: none;
}

.customRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px black, 0 0 2px black;
    border-radius: 5px;
    background: var(--customBG);
}

.customRange::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px black, 0 0 1px black;
    border: 1px solid black;
    height: 28px;
    width: 28px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

.customRange::-moz-range-track {
    width: 260px;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px black, 0 0 2px black;
    border-radius: 5px;
    background: var(--customBG);
}

.customRange::-moz-range-thumb {
    box-shadow: 1px 1px 1px black, 0 0 1px black;
    border: 1px solid black;
    height: 28px;
    width: 28px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
}