@import "flexes.css";
@import "range.css";

body {
    padding: 15px;
}

.top-margin {
    margin-top: 200px;
}

.simulation {
    margin-top: 60px;
}

.simulation svg {
    position: absolute;
    cursor: move;
}

.schema{
    border: 2px solid black;
    position: absolute;
    left: 10vw;
    width: 55vw;
    height: 400px;
}

#light-source {
    left: 10vw;
}

#two-slits, #two-slits_draggers {
    left: 30vw;
}

#screen {
    left: 50vw;
}

#interference-pattern {
    left: 70vw;
    background: black;
    border: 2px solid black;
}

#interference-graph {
    left: 80vw;
    background: white;
    border: 2px solid black;
    padding: 0 10px;
}

.info {
    margin-top: 500px;
}