@import "flexes.css";

body {
    padding: 15px;
}

.top-margin {
    margin-top: 200px;
}

.schema {
    margin-top: 40px;
}

.schema svg {
    position: absolute;
    cursor: move;
}

#light-source {
    left: 20vw;
}

#two-slits, #two-slits_draggers {
    left: 40vw;
}

#screen {
    left: 60vw;
}

#interference-pattern {
    left: 70vw;
    background: black;
    border: 2px solid black;
}

#interference-graph {
    left: 80vw;
    background: white;
    border: 2px solid black;
    padding: 0 10px;
}

.info {
    margin-top: 500px;
}