@import "flexes.css";
@import "range.css";

body {
    padding: 15px;
}

.top-margin {
    margin-top: 200px;
}

.simulation {
    margin-top: 60px;
}

.simulation svg {
    cursor: move;
}

#schemaBox {
    border: 2px solid black;
    position: absolute;
    left: 10vw;
    width: 55vw;
    height: 400px;
}

#schemaBox svg {
    position: absolute;
}

#resultBox {
    position: absolute;
    left: 68vw;
}

#light-source {
    left: 5vw;
}

#two-slits, #two-slits_draggers {
    left: 20vw;
}

#screen {
    left: 45vw;
}

#interference-pattern {
    background: black;
    border: 2px solid black;
}

#interference-graph {
    margin-left: 25px;
    background: white;
    border: 2px solid black;
    padding: 0 10px;
}

.info {
    margin-top: 500px;
}