@import "../common.css";

.schema {
    margin-top: 40px;
}

.schema svg {
    position: absolute;
    cursor: move;
}

#light-source {
    left: 20vw;
}

#two-slits {
    left: 40vw;
}

#screen {
    left: 60vw;

}

#interference-pattern {
    left: 75vw;
}

#interference-plot {
    margin-top: 0.5vh;
    left: 80vw;
    border: 2px solid black;
    padding: 0 10px;
}

.info {
    margin-top: 590px;
}
