@import "../common.css";

.schema {
    margin-top: 40px;
}

.schema svg {
    position: absolute;
    cursor: move;
}

#light-source {
    left: 20vw;
}

#two-slits, #two-slits_draggers {
    left: 40vw;
}

#screen {
    left: 60vw;

}

#interference-pattern {
    left: 75vw;
    background: black;
}

#interference-plot {
    margin-top: 0.5vh;
    left: 80vw;
    background: white;
    border: 2px solid black;
    padding: 0 10px;
}

.info {
    margin-top: 590px;
}

.slit-draggers:hover {
    fill: rgba(94, 182, 255, 0.66)
}