@import "flexes.css";

body {
    padding: 15px;
}

.item{
    margin-top: 50px;
}

.button {
    font-size: 30px;
    color: black;
    padding: 12px;
    text-decoration: none;
    border: 1px solid black;
}

.button:hover {
    text-decoration: underline;
    /*dunno yet*/
}

.top-margin {
    margin-top: 200px;
}